*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navBar{
    display: flex;
    justify-content: space-between;
    background: cadetblue;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.logo{
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbarlink{
    justify-content: space-between;
    padding: 20px;  
    margin: 10px;
    
}
.navbar_toggle{
    display: none;
}

.links li a{
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: aliceblue;
}
.links li a:hover{
    background: blue;
}
ul a{
    text-decoration: none;
}
.links {
    display: inline-flex;
    text-align: center;
    list-style: none;  
}
.linksd{
    list-style: none;
    display: inline-flex;
    text-align: center;
}
.sub li{
    list-style: none;
}

#header {
    width: 100%;
}

#theme-btn {
    font-size: 1.5rem;
    cursor: pointer; 
}
  
#theme-btn:hover {
    color: #0d080e;
}
  
.changeTheme {
    background: black;
    color: #eee;
}
.button a{
    color: #fff7f7;
    font-size: 15px;
    padding: 5px;
}
.button{
    padding: 30px;
    color: aliceblue;
    background: forestgreen;
    font-size: 20px;
}
.sub-menu{
    display: none;
    background: teal;
    
}
.links :hover .sub-menu{
    display: block;
    
    margin-top: 15px;
    margin-left: -15px;
}
.links:hover .sub-menu ul{
    display: block;
    background: teal;
    margin: 8px;
}
.links:hover .sub-menu ul li{
    width: 150px;
    font-size: 15px;
    border-bottom: dotted 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.general{
    display: flex;
    justify-content: center;
}

.contact-infor{
    width: 65%;
    background: darkgoldenrod;
}

.footer-fex{
    display: flex;
    background: #39384a;
    color: #FFFFFF;
}
.footer-content-logo{
    width: 30%;
    padding: 10px;
}
.footer-content{
    width: 70%;
}
.footercon-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;
    margin: 5px;
}
.footer-content-row{
    padding: 10px;
    margin: 5px;
    text-align: center;
}
.footer-content-row h4{
    color: #32ee08;
    padding: 5px;
    text-transform: uppercase;
}

.footer-content-logo h3{
    padding: 10px;
    color: #0c08ee;
    letter-spacing: 5px;
    font-weight: bold;
    text-decoration: underline dashed white;

}
.footer-content-logo .fa {
    padding: 3px;
    background: #19ca63;
  
}
.footer-content-logo{
   text-align: center;
}
.unored li{
    list-style: none;
}
.unored li a{
    color: #fff7f7;
}